* {
    margin: 0;
    padding: 0;
}

/* NAVBAR STYLING */

.flex{
    display: flex;
    justify-content: space-between;
}

.active{
    border-bottom: 2px solid black;
}


.nav-item{
    padding: 5px 10px 5px 10px;
}

.nav-item:hover{
    cursor: pointer;
    color:burlywood;
}